<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/wrestlers/{{wrestler.id}}/update" method="POST">
        {% csrf_token %}
        Name <input type="text" name="name" value="{{wrestler.name}}">
        Weight <input type="number" name="weight" value="{{wrestler.weight}}">
        Nick Name <input type="text" name="nick_name" value="{{wrestler.nick_name}}">
        <input type="submit">
    </form>
</body>
</html>