<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>{{wrestler.id}}</p>
    <p>{{wrestler.name}}</p>
    <p>{{wrestler.weight}}</p>
    <p>{{wrestler.nick_name}}</p>
    <p><a href="/wrestler/{{wrestler.}}/edit">Edit</a>|<a href="/wrestler/{{wrestler.}}/destroy">Delete</a></p>
        
</body>
</html>